<html>
  $meta
  <head>
    <title>$title</title>
    <style type="text/css">
     nav {
         padding: 1px;
         margin-bottom: 1px;
         /* background: DarkSlateGray; */
     }
     a {
         text-decoration: none;
     }
     nav a {
         //font-size: 32;
         color: Gray;
         padding: 3px;
     }

     nav a:hover {
         color: black;
     }
      $css
    </style>
  </head>
  <body>
      <nav>
          <a href='?v=tar'>tar </a>
          <a href='?v=expo'>expo</a>
          <a href='?v=album'>album </a>
      </nav>
      <div>
          $body
      </div>
  </body>
</html>

